body {
    background-image: url("/static/img/paper-texture-1145467.jpg");
    background-repeat: repeat;
    background-color: #F8ECC2;
}

#main {
    background-color: rgba(255,255,255,0.7);
}

.error-message {
    color: red;
}

p {
    font-size: 1.5em;
}

.gallery-img {
  margin: 3px;
  border: 2px solid LightGrey;
}

.gallery-img:hover{
  border-color: black;
}