<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Literature Game</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><a id="home_link" href="{{ url_for('index') }}">LitGame</a></h1>

            <h2>So you think you know your classic literature?</h2>
        </div>
        <div id="main">
            <p id="intro">Match quotations from classic literature to their sources with this trivia game.
            Click <a href="{{url_for('guest_account')}}">here</a> to get started, <a href="{{url_for('signup')}}">create an account</a>, or <a href="{{url_for('login')}}">login</a> to save your progress.</p>

            <p>Click the below images to enlarge them.</p>
			
			<section
				data-featherlight-gallery
				data-featherlight-filter="a"
				style="margin: 1px auto;">
					<a href="/static/img/game_no_ans.jpg"><img src="/static/img/thumbnail_game_no_ans.jpg" alt="Screenshot of game in progress." class="gallery-img"></a>
					<a href="/static/img/game_wrong_ans.jpg"><img src="/static/img/thumbnail_game_wrong_ans.jpg" alt="Screenshot of game in progress." class="gallery-img"></a>
					<a href="/static/img/game_correct_ans.jpg"><img src="/static/img/thumbnail_game_correct_ans.jpg" alt="Screenshot of game in progress." class="gallery-img"></a>
			</section>
			
            <a href="{{url_for('policy')}}">Terms of Service and Privacy Policy.</a>
            <p id="copywrite">LitGame &copy; 2018</p>
        </div>
    </div>
	
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
	</script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
	<script>
		$('a.gallery').featherlightGallery({
		previousIcon: '&#9664;',     /* Code that is used as previous icon */
		nextIcon: '&#9654;',         /* Code that is used as next icon */
		galleryFadeIn: 0,          /* fadeIn speed when slide is loaded */
		galleryFadeOut: 0         /* fadeOut speed before slide is loaded */
	});
	</script>
</body>
</html>